.menu{
   display: grid;
   justify-content: flex-start;
   font-size: 20px;
   color: #000;
   text-align: start;
   font-family: 'Roboto Slab',sans-serif;
   gap: 20px;
   position: fixed;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.menu>div{
    width: 300px;
    padding: 6px;
}
.menu>div:hover{
    background-color: #ffde2f;
}


