.navbar{
    background-color:  #ffde2f;
    display: flex;
    justify-content: space-between;
}
.navbar img{
    margin-left: 90px;
 width: 100px;
 height: 50px;
 padding: 8px 0px;
}
.navbar>div:nth-child(2){
  margin-right: 80px;
  margin-top: 10px;
}
