.App {
  text-align: center;
}
.Appcomponent{
  margin: auto;
width: 80%;
display: flex;
justify-content: space-between;
border: 1px solid green;
}
.Appcomponent>div:nth-child(1){
  width:300px;
  border: 1px solid brown;
  position: relative;
}

